<h1 mat-dialog-title *ngIf="data">Editar Hospital</h1>
<h1 mat-dialog-title *ngIf="!data">Agregar Hospital</h1>
<form (submit)="data ? updateHospital() : addHospital()">
  <mat-dialog-content>
    <mat-form-field class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput [formControl]="hospitalFormControl.controls.name" />
      <mat-error *ngIf="hospitalFormControl.controls.name.invalid">
        Nombre <strong>Inválido</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Siglas</mat-label>
      <input
        matInput
        [formControl]="hospitalFormControl.controls.acronym"
        placeholder="Ej. CHMH"
      />
      <mat-error *ngIf="hospitalFormControl.controls.acronym.invalid">
        Siglas <strong>Inválidas</strong>
      </mat-error>
    </mat-form-field>
    <div
      class="full-width dialog-button-container"
      *ngIf="!showFirstReceiverInputs"
    >
      <button
        type="button"
        mat-raised-button
        class="dialog-button"
        color="primary"
        (click)="showFirstReceiverInputs = true"
      >
        Agregar datos del Destinatario Principal
      </button>
    </div>
    <div *ngIf="showFirstReceiverInputs">
      <h4>Datos del Destinatario Principal</h4>
      <mat-form-field class="full-width">
        <mat-label>Cargo</mat-label>
        <input
          matInput
          [formControl]="firstReceiverFormControl.controls.position"
        />
        <mat-error *ngIf="firstReceiverFormControl.controls.position.invalid"
          >Cargo <strong>Inválido</strong></mat-error
        >
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          [formControl]="firstReceiverFormControl.controls.name"
        />
        <mat-error *ngIf="firstReceiverFormControl.controls.name.invalid"
          >Nombre <strong>Inválido</strong></mat-error
        >
      </mat-form-field>
      <div class="full-width dialog-button-container">
        <button
          type="button"
          mat-raised-button
          class="dialog-button"
          color="warn"
          (click)="removeFirstReceiver()"
        >
          Quitar datos del Destinatario Principal
        </button>
      </div>
      <div class="h-20"></div>
      <div
        class="full-width dialog-button-container"
        *ngIf="!showSecondReceiverInputs"
      >
        <button
          type="button"
          mat-raised-button
          class="dialog-button"
          color="primary"
          (click)="showSecondReceiverInputs = true"
        >
          Agregar datos del Destinatario Secundario
        </button>
      </div>
      <div *ngIf="showSecondReceiverInputs">
        <h4>Datos del Destinatario Secundario</h4>
        <mat-form-field class="full-width">
          <mat-label>Cargo</mat-label>
          <input
            matInput
            [formControl]="secondReceiverFormControl.controls.position"
          />
          <mat-error *ngIf="secondReceiverFormControl.controls.position.invalid"
            >Cargo <strong>Inválido</strong></mat-error
          >
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            [formControl]="secondReceiverFormControl.controls.name"
          />
          <mat-error *ngIf="secondReceiverFormControl.controls.name.invalid"
            >Nombre <strong>Inválido</strong></mat-error
          >
        </mat-form-field>
        <div class="full-width dialog-button-container">
          <button
            type="button"
            mat-raised-button
            class="dialog-button"
            color="warn"
            (click)="removeSecondReceiver()"
          >
            Quitar datos del Destinatario Secundario
          </button>
        </div>
        <div class="h-20"></div>
        <div
          class="full-width dialog-button-container"
          *ngIf="!showThirdReceiverInputs"
        >
          <button
            type="button"
            mat-raised-button
            class="dialog-button"
            color="primary"
            (click)="showThirdReceiverInputs = true"
          >
            Agregar datos del Destinatario Terciario
          </button>
        </div>
        <div *ngIf="showThirdReceiverInputs">
          <h4>Datos del Destinatario Terciario</h4>
          <mat-form-field class="full-width">
            <mat-label>Cargo</mat-label>
            <input
              matInput
              [formControl]="thirdReceiverFormControl.controls.position"
            />
            <mat-error
              *ngIf="thirdReceiverFormControl.controls.position.invalid"
              >Cargo <strong>Inválido</strong></mat-error
            >
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              [formControl]="thirdReceiverFormControl.controls.name"
            />
            <mat-error *ngIf="thirdReceiverFormControl.controls.name.invalid"
              >Nombre <strong>Inválido</strong></mat-error
            >
          </mat-form-field>

          <div class="full-width dialog-button-container">
            <button
              type="button"
              mat-raised-button
              class="dialog-button"
              color="warn"
              (click)="removeThirdReceiver()"
            >
              Quitar datos del Destinatario Terciario
            </button>
          </div>
        </div>
      </div>
      <div class="h-20"></div>
    </div>
    <div class="h-20"></div>
    <div class="dialog-button-container" *ngIf="!showAddressInputs">
      <button
        type="button"
        mat-raised-button
        class="dialog-button"
        color="primary"
        (click)="showAddressInputs = true"
      >
        Agregar datos de Ubicación
      </button>
    </div>
    <div *ngIf="showAddressInputs">
      <h4>Ubicación del Hospital</h4>
      <mat-form-field class="full-width">
        <mat-label>País</mat-label>
        <input matInput [formControl]="addressFormControl.controls.country" />
        <mat-error *ngIf="addressFormControl.controls.country.invalid"
          >País <strong>Inválido</strong></mat-error
        >
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Estado</mat-label>
        <input matInput [formControl]="addressFormControl.controls.state" />
        <mat-error *ngIf="addressFormControl.controls.state.invalid"
          >Estado <strong>Inválido</strong></mat-error
        >
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Ciudad</mat-label>
        <input matInput [formControl]="addressFormControl.controls.city" />
        <mat-error *ngIf="addressFormControl.controls.city.invalid"
          >Ciudad <strong>Inválida</strong></mat-error
        >
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Dirección</mat-label>
        <input matInput [formControl]="addressFormControl.controls.street" />
        <mat-error *ngIf="addressFormControl.controls.street.invalid"
          >Dirección <strong>Inválida</strong></mat-error
        >
      </mat-form-field>
      <div class="dialog-button-container">
        <button
          type="button"
          mat-raised-button
          class="dialog-button"
          color="warn"
          (click)="removeAddress()"
        >
          Quitar datos de Ubicación
        </button>
      </div>
    </div>
    <div class="h-20"></div>
    <mat-form-field
      class="full-width"
      *ngFor="
        let phoneFormControl of hospitalFormControl.controls.phones.controls;
        let i = index
      "
    >
      <mat-label>Teléfono</mat-label>
      <input
        matInput
        [formControl]="phoneFormControl"
        placeholder="Ej. +52 449 123 4567"
      />
      <mat-error *ngIf="phoneFormControl.invalid"
        >Teléfono <strong>Inválido</strong></mat-error
      >
      <button matSuffix mat-icon-button (click)="deletePhone(+i)">
        <mat-icon color="warn">close</mat-icon>
      </button>
    </mat-form-field>
    <div class="dialog-button-container">
      <button
        type="button"
        mat-raised-button
        class="dialog-button"
        color="primary"
        (click)="addPhone()"
      >
        Agregar Teléfono
      </button>
    </div>
    <div class="h-20"></div>
    <mat-form-field
      class="full-width"
      *ngFor="
        let emailFormControl of hospitalFormControl.controls.emails.controls;
        let i = index
      "
    >
      <mat-label>Correo</mat-label>
      <input matInput [formControl]="emailFormControl" />
      <mat-error *ngIf="emailFormControl.invalid"
        >Correo <strong>Inválido</strong></mat-error
      >
      <button matSuffix mat-icon-button (click)="deleteEmail(+i)">
        <mat-icon color="warn">close</mat-icon>
      </button>
    </mat-form-field>
    <div class="full-width dialog-button-container">
      <button
        type="button"
        mat-raised-button
        class="dialog-button"
        color="primary"
        (click)="addEmail()"
      >
        Agregar Correo
      </button>
    </div>
    <div class="h-10"></div>
    <mat-checkbox
      color="primary"
      [formControl]="hospitalFormControl.controls.socialService"
      >Servicio Social</mat-checkbox
    >
    <div style="margin-bottom: 10px"></div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="close()">Cancelar</button>
    <button mat-raised-button color="accent" *ngIf="data">Editar</button>
    <button mat-raised-button color="primary" *ngIf="!data">Agregar</button>
  </mat-dialog-actions>
</form>
