<mat-card class="main-card">
  <mat-card-title class="main-card-title">
    <span class="main-card-title-text">Agregar Movilidad Obligatoria</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <div class="h-20"></div>
  <mat-card-content *ngIf="!loading">
    <form id="addObligatoryMobilityForm" (ngSubmit)="addObligatoryMobility()">
      <mat-form-field appearance="outline" class="filter-width">
        <mat-label>Especialidad</mat-label>
        <mat-select
          [formControl]="filtersFormControl.controls.specialty"
          (selectionChange)="specialtyChanged()"
        >
          <mat-option
            *ngFor="let specialty of specialties"
            [value]="specialty._id"
            >{{ specialty.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="filter-width">
        <mat-label>Generación</mat-label>
        <mat-select
          [formControl]="filtersFormControl.controls.generation"
          (selectionChange)="generationChanged()"
        >
          <mat-option
            *ngFor="let generation of generations"
            [value]="generation.value"
            >{{ generation.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <br />

      <div
        *ngFor="
          let studentFormControl of studentsFormControl.controls;
          let i = index
        "
      >
        <h2>Alumno {{ i + 1 }}</h2>
        <mat-form-field class="large-input input">
          <mat-label>Alumno</mat-label>
          <mat-select [formControl]="studentFormControl.controls.student">
            <mat-option *ngFor="let student of students" [value]="student._id"
              >{{ student.name }} {{ student.firstLastName }}
              {{ student.secondLastName }}</mat-option
            >
          </mat-select>
          <mat-error *ngIf="studentFormControl.controls.student.invalid"
            >Alumno <strong>Inválido</strong></mat-error
          >
        </mat-form-field>
        <button type="button" mat-icon-button (click)="deleteStudent(i)">
          <mat-icon color="warn">close</mat-icon>
        </button>
        <h3>Movilidades Obligatorias</h3>

        <div
          *ngFor="
            let hospitalFormControl of studentFormControl.controls.hospitals
              .controls;
            let j = index
          "
        >
          <mat-form-field class="short-input input">
            <mat-label>Hospital</mat-label>
            <mat-select [formControl]="hospitalFormControl.controls.hospital">
              <mat-option
                *ngFor="let hospital of hospitals"
                [value]="hospital._id"
                >{{ hospital.name }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="hospitalFormControl.controls.hospital.invalid"
              >Hospital <strong>Inválido</strong></mat-error
            >
          </mat-form-field>
          <mat-form-field class="short-input input">
            <mat-label>Fecha de Inicio</mat-label>
            <input
              matInput
              [matDatepicker]="initialPicker"
              [formControl]="hospitalFormControl.controls.initialDate"
            />
            <mat-hint>MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="initialPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #initialPicker
              startView="multi-year"
              (monthSelected)="
                setInitialMonthAndYear($event, initialPicker, i, j)
              "
            ></mat-datepicker>
            <mat-error *ngIf="hospitalFormControl.controls.initialDate.invalid"
              >Fecha de Inicio <strong>Inválida</strong></mat-error
            >
          </mat-form-field>
          <mat-form-field class="short-input input">
            <mat-label>Fecha de Finalización</mat-label>
            <input
              matInput
              [matDatepicker]="finalPicker"
              [formControl]="hospitalFormControl.controls.finalDate"
            />
            <mat-hint>MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="finalPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #finalPicker
              startView="multi-year"
              (monthSelected)="setFinalMonthAndYear($event, finalPicker, i, j)"
            ></mat-datepicker>
            <mat-error *ngIf="hospitalFormControl.controls.finalDate.invalid"
              >Fecha de Finalización <strong>Inválida</strong></mat-error
            >
          </mat-form-field>
          <mat-form-field class="short-input input">
            <mat-label>Servicio a Rotar</mat-label>
            <mat-select
              [formControl]="hospitalFormControl.controls.rotationService"
            >
              <mat-option
                *ngFor="let rotationService of rotationServices"
                [value]="rotationService._id"
                >{{ rotationService.value }}</mat-option
              >
            </mat-select>
            <mat-error
              *ngIf="hospitalFormControl.controls.rotationService.invalid"
              >Servicio a Rotar <strong>Inválido</strong></mat-error
            >
          </mat-form-field>
          <button type="button" mat-icon-button (click)="deleteHospital(i, j)">
            <mat-icon color="warn">close</mat-icon>
          </button>
        </div>

        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="addHospital(i)"
        >
          Agregar Hospital
        </button>
        <div class="h-20"></div>
      </div>

      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="addStudent()"
        [disabled]="students.length == 0"
      >
        Agregar Estudiante
      </button>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      form="addObligatoryMobilityForm"
      [disabled]="studentsFormControl.controls.length == 0"
    >
      Agregar Movilidad Optativa
    </button>
    <button mat-raised-button color="basic" routerLink="..">Cancelar</button>
  </mat-card-actions>
  <mat-card-footer *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
