<mat-card class="main-card">
  <mat-card-title class="main-card-title">
    <span class="main-card-title-text">Plantillas para Documentos</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <div class="h-20"></div>
  <h1>Servicio Social</h1>
  <button
    (click)="socialServicePresentationOfficeUploader.click()"
    mat-raised-button
    color="accent"
  >
    Actualizar Plantilla Oficio de Presentación
  </button>
  <input
    hidden
    accept=".docx"
    type="file"
    #socialServicePresentationOfficeUploader
    (change)="updateSocialServicePresentationOfficeTemplate($event)"
  />
  <div class="h-20"></div>
  <h1>Movilidades Optativas</h1>
  <button
    (click)="optionalMobilitiesSolicitudeUploader.click()"
    mat-raised-button
    color="accent"
  >
    Actualizar Plantilla Solicitud
  </button>
  <input
    hidden
    accept=".docx"
    type="file"
    #optionalMobilitiesSolicitudeUploader
    (change)="updateOptionalMobilitiesSolicitudeTemplate($event)"
  />
  <span style="margin-left: 10px"></span>
  <button
    (click)="optionalMobilitiesPresentationOfficeUploader.click()"
    mat-raised-button
    color="accent"
  >
    Actualizar Plantilla Oficio de Presentación
  </button>
  <input
    hidden
    accept=".docx"
    type="file"
    #optionalMobilitiesPresentationOfficeUploader
    (change)="updateOptionalMobilitiesPresentationOfficeTemplate($event)"
  />
  <div class="h-20"></div>
  <h1>Movilidades Obligatorias</h1>
  <button
    (click)="obligatoryMobilitiesSolicitudeUploader.click()"
    mat-raised-button
    color="accent"
  >
    Actualizar Plantilla Solicitud
  </button>
  <input
    hidden
    accept=".docx"
    type="file"
    #obligatoryMobilitiesSolicitudeUploader
    (change)="updateObligatoryMobilitiesSolicitudeTemplate($event)"
  />
  <div class="h-20"></div>
  <h1>Rotantes</h1>
  <button
    (click)="incomingStudentsAcceptanceUploader.click()"
    mat-raised-button
    color="accent"
  >
    Actualizar Plantilla Aceptaciones
  </button>
  <input
    hidden
    accept=".docx"
    type="file"
    #incomingStudentsAcceptanceUploader
    (change)="updateIncomingStudentsAcceptanceTemplate($event)"
  />
  <mat-card-actions align="end">
    <button mat-raised-button color="basic" routerLink="..">Cancelar</button>
  </mat-card-actions>
</mat-card>
