<mat-card class="main-card">
  <mat-card-title>
    <span class="main-card-title">Plantillas para Documentos</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <div style="margin-bottom: 20px"></div>
  <h1>Servicio Social</h1>
  <button
    (click)="socialServicePresentationOfficeUploader.click()"
    mat-raised-button
    color="accent"
    class="document-button"
  >
    Actualizar Plantilla Oficio de Presentación
  </button>
  <input
    hidden
    accept=".docx"
    type="file"
    #socialServicePresentationOfficeUploader
    (change)="updateSocialServicePresentationOfficeTemplate($event)"
  />
  <mat-card-actions align="end">
    <button mat-raised-button color="basic" routerLink="..">Cancelar</button>
  </mat-card-actions>
</mat-card>
