body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(240, 240, 240);
}

/* Components Colors */

.warn-snackbar {
  background-color: red;
  color: white;
}

.accent-snackbar {
  background-color: #ff4081;
  color: white;
}

/* Width */

.full-width {
  width: 100%;
}

/* Main Card */

.main-card {
  margin: 1em;
}

@media (max-width: 850px) {
  .main-card {
    margin: 0;
  }
}

.main-card-title {
  display: block;
  overflow: hidden;
}

.main-card-title-text {
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 1;
}

.main-card-right-button {
  display: block;
  float: right;
}

/* Height */
.h-30 {
  margin-bottom: 30px;
}

.h-20 {
  margin-bottom: 20px;
}

.h-10 {
  margin-bottom: 10px;
}

/* Table */

.row-specialty {
  background-color: #3f51b5;
  color: white;
  text-align: center;
  cursor: default !important;
}

.row-specialty:hover {
  background-color: #3f51b5 !important;
  color: white;
}

.column-documents {
  min-width: 160px;
}

/* Chip */

.mat-presentation-office {
  background-color: rgb(255, 85, 113) !important;
  color: white !important;
}

.mat-report {
  background-color: rgb(161, 54, 161) !important;
  color: white !important;
}

.mat-constancy {
  background-color: green !important;
  color: white !important;
}

.mat-solicitude {
  background-color: green !important;
  color: white !important;
}

.mat-acceptance {
  background-color: rgb(161, 54, 161) !important;
  color: white !important;
}

.mat-evaluation {
  background-color: rgb(59, 56, 247) !important;
  color: white !important;
}

.chip {
  padding: 5px !important;
}

/* Filters */

.filter-width {
  width: 300px;
  margin-right: 10px;
}

.filter-button {
  margin-right: 10px !important;
  margin-bottom: 15px !important;
  float: right;
}

/* Canceled */
.canceled-text {
  color: red;
}

/* Input */

.large-input {
  width: 500px;
}

.short-input {
  width: 200px;
}

.input {
  max-width: 100%;
  margin-right: 10px;
}
