<mat-card class="main-card">
  <mat-card-title>
    <span class="main-card-title">Movilidades Optativas</span>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="'/' + paths.BASE_PATH + '/' + paths.ADD"
      class="main-card-right-button"
    >
      Agregar Movilidad Optativa
    </button>
  </mat-card-title>
  <mat-divider></mat-divider>
  <div style="margin-bottom: 20px"></div>
  <mat-form-field class="full-width" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Buscador</mat-label>
    <input matInput disabled />
  </mat-form-field>
  <br />
  <mat-form-field class="filter-width" appearance="outline">
    <mat-label>Fecha Inicial</mat-label>
    <mat-select
      [formControl]="intervalFormControl.controls.initialDate"
      (selectionChange)="initialDateChanged()"
    >
      <mat-option
        *ngFor="let initialMonth of interval.initialMonths"
        [value]="initialMonth.value"
        >{{ initialMonth.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filter-width" appearance="outline">
    <mat-label>Fecha Final</mat-label>
    <mat-select
      [formControl]="intervalFormControl.controls.finalDate"
      (selectionChange)="finalDateChanged()"
    >
      <mat-option
        *ngFor="let finalMonth of interval.finalMonths"
        [value]="finalMonth.value"
        >{{ finalMonth.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="filter-button"
    [routerLink]="'/' + paths.BASE_PATH + '/' + paths.DOCUMENTS_PRESENTATION_OFFICE"
  >
    Generar Oficios de Presentación
  </button>
  <mat-card-content *ngIf="!loading">
    <table mat-table [dataSource]="optionalMobilities" class="full-width">
      <ng-container matColumnDef="student">
        <th mat-header-cell *matHeaderCellDef>Alumno</th>
        <td
          mat-cell
          *matCellDef="let optionalMobility"
          [attr.colspan]="optionalMobility.specialty ? 5 : 0"
          [class.row-specialty]="optionalMobility.specialty"
        >
          <span *ngIf="!optionalMobility.specialty">
            {{ optionalMobility.student.name }}
            {{ optionalMobility.student.firstLastName }}
            {{ optionalMobility.student.secondLastName }}
          </span>
          <span *ngIf="optionalMobility.specialty">{{
            optionalMobility.specialty.value
          }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="hospital">
        <th mat-header-cell *matHeaderCellDef>Hospital</th>
        <td
          mat-cell
          *matCellDef="let optionalMobility"
          [style.display]="optionalMobility.specialty ? 'none' : ''"
        >
          <span *ngIf="!optionalMobility.specialty">
            {{ optionalMobility.hospital.name }}
          </span>
        </td></ng-container
      >
      <ng-container matColumnDef="rotationService">
        <th mat-header-cell *matHeaderCellDef>Servicio a Rotar</th>
        <td
          mat-cell
          *matCellDef="let optionalMobility"
          [style.display]="optionalMobility.specialty ? 'none' : ''"
        >
          <span *ngIf="!optionalMobility.specialty">
            {{ optionalMobility.rotationService.value }}
          </span>
        </td></ng-container
      >
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef>Periodo</th>
        <td
          mat-cell
          *matCellDef="let optionalMobility"
          [style.display]="optionalMobility.specialty ? 'none' : ''"
        >
          <span *ngIf="!optionalMobility.specialty">
            {{ optionalMobility.period }}
          </span>
        </td></ng-container
      >
      <ng-container matColumnDef="documents">
        <th mat-header-cell *matHeaderCellDef>Documentos</th>
        <td
          mat-cell
          *matCellDef="let optionalMobility"
          [style.display]="optionalMobility.specialty ? 'none' : ''"
        >
          <span *ngIf="!optionalMobility.specialty">
            <mat-chip-list *ngIf="!optionalMobility.canceled">
              <mat-chip
                *ngIf="optionalMobility.documents.solicitudeDocument"
                color="solicitude"
                selected
                >Solicitud</mat-chip
              >
              <mat-chip
                *ngIf="optionalMobility.documents.presentationOfficeDocument"
                color="presentation-office"
                selected
                >Oficio de Presentación</mat-chip
              >
              <mat-chip
                *ngIf="optionalMobility.documents.acceptanceDocument"
                color="acceptance"
                selected
                >Aceptación</mat-chip
              >
              <mat-chip
                *ngIf="optionalMobility.documents.evaluationDocument"
                color="evaluation"
                selected
                >Evaluación</mat-chip
              >
            </mat-chip-list>
            <span *ngIf="optionalMobility.canceled" class="canceled-text"
              >Cancelado</span
            >
          </span>
        </td></ng-container
      >
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="updateOptionalMobility(row)"
      ></tr>
    </table>
  </mat-card-content>
  <mat-card-footer *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
