<mat-card class="main-card">
  <mat-card-title class="main-card-title">
    <span class="main-card-title-text">Solicitud y Aceptación</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <div class="h-20"></div>
  <mat-card-content *ngIf="!loading && attachmentsObligatoryMobilityResponse">
    <app-hospital-info
      [id]="attachmentsObligatoryMobilityResponse.hospital"
    ></app-hospital-info>
    <div class="h-20"></div>
    <mat-form-field class="short-input input">
      <mat-label>Fecha de Inicio</mat-label>
      <input
        matInput
        [matDatepicker]="initialPicker"
        [formControl]="
          attachmentsObligatoryMobilityFormControl.controls.initialDate
        "
      />
      <mat-hint>MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matSuffix
        [for]="initialPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #initialPicker
        startView="multi-year"
        (monthSelected)="setInitialMonthAndYear($event, initialPicker)"
      ></mat-datepicker>
      <mat-error>Fecha de Inicio <strong>Inválida</strong></mat-error>
    </mat-form-field>
    <mat-form-field class="short-input input">
      <mat-label>Fecha de Finalización</mat-label>
      <input
        matInput
        [matDatepicker]="finalPicker"
        [formControl]="
          attachmentsObligatoryMobilityFormControl.controls.finalDate
        "
      />
      <mat-hint>MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matSuffix
        [for]="finalPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #finalPicker
        startView="multi-year"
        (monthSelected)="setFinalMonthAndYear($event, finalPicker)"
      ></mat-datepicker>
      <mat-error>Fecha de Finalización <strong>Inválida</strong></mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      (click)="updateAttachmentsObligatoryMobility()"
    >
      Editar Solicitud y Aceptación
    </button>
    <span style="margin-left: 10px"></span>
    <button
      mat-raised-button
      color="warn"
      (click)="deleteAttachmentsObligatoryMobility()"
    >
      Eliminar Solicitud y Aceptación
    </button>
    <div class="h-20"></div>
    <table
      mat-table
      [dataSource]="attachmentsObligatoryMobilityResponse.obligatoryMobilities"
      class="full-width"
    >
      <ng-container matColumnDef="student">
        <th mat-header-cell *matHeaderCellDef>Alumno</th>
        <td mat-cell *matCellDef="let obligatoryMobility">
          {{ obligatoryMobility.student.name }}
          {{ obligatoryMobility.student.firstLastName }}
          {{ obligatoryMobility.student.secondLastName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="initialDate">
        <th mat-header-cell *matHeaderCellDef>Fecha Inicial</th>
        <td mat-cell *matCellDef="let obligatoryMobility">
          {{ initialDateToString(obligatoryMobility.initialDate) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="finalDate">
        <th mat-header-cell *matHeaderCellDef>Fecha Final</th>
        <td mat-cell *matCellDef="let obligatoryMobility">
          {{ finalDateToString(obligatoryMobility.finalDate) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="rotationService">
        <th mat-header-cell *matHeaderCellDef>Servicio a Rotar</th>
        <td mat-cell *matCellDef="let obligatoryMobility">
          {{ obligatoryMobility.rotationService.value }}
        </td>
      </ng-container>
      <ng-container matColumnDef="documents">
        <th mat-header-cell *matHeaderCellDef>Documentos</th>
        <td mat-cell *matCellDef="let obligatoryMobility" class="chip">
          <mat-chip-list *ngIf="!obligatoryMobility.canceled">
            <mat-chip
              *ngIf="obligatoryMobility.presentationOfficeDocument"
              color="presentation-office"
              selected
              >Oficio de Presentación</mat-chip
            >
            <mat-chip
              *ngIf="obligatoryMobility.evaluationDocument"
              color="evaluation"
              selected
              >Evaluación</mat-chip
            >
          </mat-chip-list>
          <span *ngIf="obligatoryMobility.canceled" class="canceled-text"
            >Cancelado</span
          >
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
