<mat-card class="main-card">
  <mat-card-title>
    <span class="main-card-title">Servicio Social</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <div style="margin-bottom: 20px"></div>
  <mat-form-field class="full-width" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Buscador</mat-label>
    <input matInput disabled />
  </mat-form-field>
  <br />
  <mat-form-field class="filter-width" appearance="outline">
    <mat-label>Periodo Inicial</mat-label>
    <mat-select
      [formControl]="periodFormControl.controls.initialPeriod"
      (selectionChange)="initialPeriodChange()"
    >
      <mat-option *ngFor="let period of periods" [value]="period.value">{{
        period.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filter-width" appearance="outline">
    <mat-label>Periodo Final</mat-label>
    <mat-select
      [formControl]="periodFormControl.controls.finalPeriod"
      (selectionChange)="finalPeriodChange()"
    >
      <mat-option *ngFor="let period of periods" [value]="period.value">{{
        period.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <button mat-raised-button color="primary">Agregar Servicio Social</button>
  <br />
  <button mat-raised-button color="primary">
    Generar Oficios de Presentación
  </button>
  <table mat-table [dataSource]="socialServices" class="full-width">
    <ng-container matColumnDef="student">
      <th mat-header-cell *matHeaderCellDef>Estudiante</th>
      <td mat-cell *matCellDef="let socialService">
        {{ socialService.student }}
      </td>
    </ng-container>
    <ng-container matColumnDef="hospital">
      <th mat-header-cell *matHeaderCellDef>Hospital</th>
      <td mat-cell *matCellDef="let socialService">
        {{ socialService.hospital }}
      </td>
    </ng-container>
    <ng-container matColumnDef="period">
      <th mat-header-cell *matHeaderCellDef>Periodo</th>
      <td mat-cell *matCellDef="let socialService">
        {{ socialService.period }}
      </td>
    </ng-container>
    <!-- <ng-container matColumnDef="documents">
      <th mat-header-cell *matHeaderCellDef>Documentos</th>
      <td mat-cell *matCellDef="let socialService">
        <mat-chip-list>
          <mat-chip
            *ngIf="socialService.presentationOfficeDocument"
            color="presentation-office"
            selected
            >Officio de Presentación</mat-chip
          >
          <mat-chip *ngIf="socialService.reportDocument" color="report" selected
            >Reporte</mat-chip
          >
          <mat-chip
            *ngIf="socialService.constancyDocument"
            color="constancy"
            selected
            >Constancia</mat-chip
          >
        </mat-chip-list>
      </td>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="updateSocialService(row)"></tr>
  </table>
</mat-card>
