<mat-card class="main-card">
  <mat-card-title class="main-card-title">
    <span class="main-card-title-text">Movilidades Obligatorias</span>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="'/' + paths.BASE_PATH + '/' + paths.ADD"
      class="main-card-right-button"
    >
      Agregar Movilidad Obligatoria
    </button>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-footer *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
  <div class="h-20"></div>
  <mat-form-field class="full-width" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Buscador</mat-label>
    <input matInput disabled />
  </mat-form-field>
  <br />
  <mat-form-field class="filter-width" appearance="outline">
    <mat-label>Vista</mat-label>
    <mat-select
      [formControl]="intervalFormControl.controls.view"
      (selectionChange)="viewChanged()"
    >
      <mat-option value="hospital">Hospital</mat-option>
      <mat-option value="student">Alumno</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filter-width" appearance="outline">
    <mat-label>Especialidad</mat-label>
    <mat-select
      [formControl]="intervalFormControl.controls.specialty"
      (selectionChange)="specialtyChanged()"
    >
      <mat-option *ngFor="let specialty of specialties" [value]="specialty._id"
        >{{ specialty.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filter-width" appearance="outline">
    <mat-label>Fecha Inicial</mat-label>
    <mat-select
      [formControl]="intervalFormControl.controls.initialDate"
      (selectionChange)="initialDateChanged()"
    >
      <mat-option
        *ngFor="let initialMonth of intervals.initialMonths"
        [value]="initialMonth.value"
        >{{ initialMonth.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filter-width" appearance="outline">
    <mat-label>Fecha Final</mat-label>
    <mat-select
      [formControl]="intervalFormControl.controls.finalDate"
      (selectionChange)="finalDateChanged()"
    >
      <mat-option
        *ngFor="let finalMonth of intervals.finalMonths"
        [value]="finalMonth.value"
        >{{ finalMonth.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-card-content *ngIf="!loading">
    <div *ngIf="intervalFormControl.controls.view.value! == 'hospital'">
      <div *ngFor="let hospital of obligatoryMobilitiesByHospital">
        <h2>{{ hospital.name }}</h2>
        <table
          mat-table
          [dataSource]="hospital.obligatoryMobilities"
          class="full-width"
        >
          <ng-container matColumnDef="student">
            <th mat-header-cell *matHeaderCellDef>Alumno</th>
            <td mat-cell *matCellDef="let obligatoryMobility">
              {{ obligatoryMobility.student.name }}
              {{ obligatoryMobility.student.firstLastName }}
              {{ obligatoryMobility.student.secondLastName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="initialDate">
            <th mat-header-cell *matHeaderCellDef>Fecha Inicial</th>
            <td mat-cell *matCellDef="let obligatoryMobility">
              {{ initialDateToString(obligatoryMobility.initialDate) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="finalDate">
            <th mat-header-cell *matHeaderCellDef>Fecha Final</th>
            <td mat-cell *matCellDef="let obligatoryMobility">
              {{ finalDateToString(obligatoryMobility.finalDate) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="rotationService">
            <th mat-header-cell *matHeaderCellDef>Servicio a Rotar</th>
            <td mat-cell *matCellDef="let obligatoryMobility">
              {{ obligatoryMobility.rotationService.value }}
            </td>
          </ng-container>
          <ng-container matColumnDef="documents">
            <th mat-header-cell *matHeaderCellDef>Documentos</th>
            <td mat-cell *matCellDef="let obligatoryMobility" class="chip">
              <mat-chip-list *ngIf="!obligatoryMobility.canceled">
                <mat-chip
                  *ngIf="obligatoryMobility.presentationOfficeDocument"
                  color="presentation-office"
                  selected
                  >Oficio de Presentación</mat-chip
                >
                <mat-chip
                  *ngIf="obligatoryMobility.evaluationDocument"
                  color="evaluation"
                  selected
                  >Evaluación</mat-chip
                >
              </mat-chip-list>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsByHospital"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsByHospital"
          ></tr>
        </table>
        <div class="h-30"></div>
      </div>
    </div>
    <div *ngIf="intervalFormControl.controls.view.value! == 'student'">
      <div *ngFor="let student of obligatoryMobilitiesByStudent">
        <h2>
          {{ student.name }}
          {{ student.firstLastName }}
          {{ student.secondLastName }}
        </h2>
        <table
          mat-table
          [dataSource]="student.obligatoryMobilities"
          class="full-width"
        >
          <ng-container matColumnDef="hospital">
            <th mat-header-cell *matHeaderCellDef>Hospital</th>
            <td mat-cell *matCellDef="let obligatoryMobility">
              {{ obligatoryMobility.hospital.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="initialDate">
            <th mat-header-cell *matHeaderCellDef>Fecha Inicial</th>
            <td mat-cell *matCellDef="let obligatoryMobility">
              {{ initialDateToString(obligatoryMobility.initialDate) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="finalDate">
            <th mat-header-cell *matHeaderCellDef>Fecha Final</th>
            <td mat-cell *matCellDef="let obligatoryMobility">
              {{ finalDateToString(obligatoryMobility.finalDate) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="rotationService">
            <th mat-header-cell *matHeaderCellDef>Servicio a Rotar</th>
            <td mat-cell *matCellDef="let obligatoryMobility">
              {{ obligatoryMobility.rotationService.value }}
            </td>
          </ng-container>
          <ng-container matColumnDef="documents">
            <th mat-header-cell *matHeaderCellDef>Documentos</th>
            <td mat-cell *matCellDef="let obligatoryMobility" class="chip">
              <mat-chip-list *ngIf="!obligatoryMobility.canceled">
                <mat-chip
                  *ngIf="obligatoryMobility.presentationOfficeDocument"
                  color="presentation-office"
                  selected
                  >Oficio de Presentación</mat-chip
                >
                <mat-chip
                  *ngIf="obligatoryMobility.evaluationDocument"
                  color="evaluation"
                  selected
                  >Evaluación</mat-chip
                >
              </mat-chip-list>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsByStudent"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsByStudent"
          ></tr>
        </table>
        <div class="h-30"></div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
