<mat-card class="main-card">
  <mat-card-title class="main-card-title">
    <span class="main-card-title-text">Otros</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <div class="h-20"></div>
  <mat-grid-list cols="3" rowHeight="110px">
    <mat-grid-tile>
      <button
        mat-raised-button
        class="button-card"
        color="primary"
        [routerLink]="
          '/' + paths.OTHERS.BASE_PATH + '/' + paths.OTHERS.STUDENTS
        "
      >
        <div class="word-wrap">Alumnos</div>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        class="button-card"
        color="primary"
        [routerLink]="
          '/' + paths.OTHERS.BASE_PATH + '/' + paths.OTHERS.SPECIALTIES
        "
      >
        <div class="word-wrap">Especialidades</div>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        class="button-card"
        color="primary"
        [routerLink]="
          '/' + paths.OTHERS.BASE_PATH + '/' + paths.OTHERS.HOSPITALS
        "
      >
        <div class="word-wrap">Hospitales</div>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        class="button-card"
        color="primary"
        [routerLink]="
          '/' + paths.OTHERS.BASE_PATH + '/' + paths.OTHERS.ROTATION_SERVICES
        "
      >
        <div class="word-wrap">Servicios a Rotar</div>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        class="button-card"
        color="primary"
        [routerLink]="
          '/' + paths.OTHERS.BASE_PATH + '/' + paths.OTHERS.INCOMING_SPECIALTIES
        "
      >
        <div class="word-wrap">Especialidades Externas</div>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        class="button-card"
        color="primary"
        [routerLink]="
          '/' +
          paths.OTHERS.BASE_PATH +
          '/' +
          paths.OTHERS.INCOMING_ROTATION_SERVICES
        "
      >
        <div class="word-wrap">Servicios a Rotar Externos</div>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        class="button-card"
        color="primary"
        [routerLink]="
          '/' + paths.OTHERS.BASE_PATH + '/' + paths.OTHERS.TEMPLATES
        "
      >
        <div class="word-wrap">Plantillas para Documentos</div>
      </button>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="administrator">
      <button
        mat-raised-button
        class="button-card"
        color="primary"
        [routerLink]="'/' + paths.OTHERS.BASE_PATH + '/' + paths.OTHERS.USERS"
      >
        <div class="word-wrap">Usuarios</div>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
