<mat-card class="main-card">
  <mat-card-title class="main-card-title">
    <span class="main-card-title-text"
      >Generar Oficios de Presentación para Servicio Social</span
    >
  </mat-card-title>
  <mat-divider></mat-divider>
  <div class="h-20"></div>
  <form *ngIf="!loading" (ngSubmit)="generate()" id="addSocialServiceForm">
    <mat-form-field class="filter-width" appearance="outline">
      <mat-label>Hospital</mat-label>
      <mat-select [formControl]="filtersFormControl.controls.hospital">
        <mat-option *ngFor="let hospital of hospitals" [value]="hospital._id">{{
          hospital.name
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="filtersFormControl.controls.hospital.invalid"
        >Hospital <strong>Inválido</strong></mat-error
      >
    </mat-form-field>
    <mat-form-field class="filter-width" appearance="outline">
      <mat-label>Especialidad</mat-label>
      <mat-select [formControl]="filtersFormControl.controls.specialty">
        <mat-option
          *ngFor="let specialty of specialties"
          [value]="specialty._id"
          >{{ specialty.value }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="filtersFormControl.controls.specialty.invalid"
        >Especialidad <strong>Inválido</strong></mat-error
      >
    </mat-form-field>
    <mat-form-field class="filter-width" appearance="outline">
      <mat-label>Fecha Inicial</mat-label>
      <mat-select
        [formControl]="filtersFormControl.controls.initialPeriod"
        (selectionChange)="initialPeriodChange()"
      >
        <mat-option
          *ngFor="let period of initialPeriods"
          [value]="period.value"
          >{{ period.name }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="filtersFormControl.controls.initialPeriod.invalid"
        >Fecha Inicial <strong>Inválida</strong></mat-error
      >
    </mat-form-field>
    <mat-form-field class="filter-width" appearance="outline">
      <mat-label>Fecha Final</mat-label>
      <mat-select
        [formControl]="filtersFormControl.controls.finalPeriod"
        (selectionChange)="finalPeriodChange()"
      >
        <mat-option
          *ngFor="let period of finalPeriods"
          [value]="period.value"
          >{{ period.name }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="filtersFormControl.controls.finalPeriod.invalid"
        >Fecha Final <strong>Inválida</strong></mat-error
      >
    </mat-form-field>
    <mat-form-field class="filter-width" appearance="outline">
      <mat-label>Número Inicial de los Documentos</mat-label>
      <input
        matInput
        [formControl]="filtersFormControl.controls.initialNumberOfDocuments"
      />
      <mat-error
        *ngIf="filtersFormControl.controls.initialNumberOfDocuments.invalid"
        >Número <strong>Inválido</strong></mat-error
      >
    </mat-form-field>
    <mat-form-field class="filter-width" appearance="outline">
      <mat-label>Fecha de Expedición de los Documentos</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [formControl]="filtersFormControl.controls.dateOfDocuments"
      />
      <mat-hint>DD/MM/AAAA</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="filtersFormControl.controls.dateOfDocuments.invalid"
        >Fecha <strong>Inválida</strong></mat-error
      >
    </mat-form-field>
  </form>
  <mat-card-actions align="end">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      style="display: block"
      form="addSocialServiceForm"
    >
      Generar Oficios de Presentación
    </button>
    <button mat-raised-button color="basic" routerLink="..">Cancelar</button>
  </mat-card-actions>
  <mat-card-footer *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
